@supports (animation-timeline: view()) {
  @keyframes scale-in-on-enter--scale-out-on-exit {
    entry 0% {
      scale: 0.8;
    }

    entry 100% {
      scale: 1;
    }

    exit 0% {
      scale: 1;
    }

    exit 100% {
      scale: 0.8;
    }
  }

  .scale-in-out {
    animation: linear scale-in-on-enter--scale-out-on-exit;
    animation-timeline: view();
  }

  @keyframes fade-in-on-enter--fade-out-on-exit {
    entry 0% {
      opacity: 0;
    }

    entry 100% {
      opacity: 1;
    }

    exit 0% {
      opacity: 1;
    }

    exit 100% {
      opacity: 0;
    }
  }

  .fade-in-out {
    animation: linear fade-in-on-enter--fade-out-on-exit;
    animation-timeline: view();
  }
}

@keyframes loadingContent {
  0% {
    content: '加载中';
  }

  33.33% {
    content: '加载中.';
  }

  66.66% {
    content: '加载中..';
  }

  100% {
    content: '加载中...';
  }
}