/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: medium;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  &:focus {
    outline: none;
  }
}

div {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
}

legend {
  border: 2px dashed var(--color-border);
  padding: 0.5rem 1rem;
  font-weight: bold;
  &[size='small'] {
    font-size: small;
    padding: 0.2rem 0.4rem;
  }
}

button {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border: none;
  font-size: 14px;
  background-color: var(--apple-music-primary);
  color: #fff;
  border-radius: 0.2rem;
  font-weight: bolder;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0 10px 2px lch(from var(--apple-music-primary) l c h / 0.77);
  }
  &:active {
    box-shadow: 0 0 10px 2px lch(from var(--apple-music-primary) calc(l - 10) c h / 0.77);
  }
  &[block] {
    display: block;
    width: 100%;
  }
}

select {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 14px;
}
