:root {
  --font-fallback: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-body: Inter, var(--font-fallback);
  --font-f: 'NNN', '庞门正道细线体', Inter, var(--font-fallback);
  --header-h: 3em;
  --footer-h: 2em;
  --main-h: calc(100% - var(--header-h) - var(--footer-h));
  --bg-page: #1b262c;
  --msg-zi: 9999;
  --popover-bg: rgba(72, 80, 85, 0.8);
  --border-color: rgba(255, 255, 255, 0.7);
}
