:root {
  --font-fallback: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-body: Inter, var(--font-fallback);
  --font-f: 'NNN', '庞门正道细线体', Inter, var(--font-fallback);
  --header-h: 3em;
  --footer-h: 2em;
  --main-h: calc(100% - var(--header-h) - var(--footer-h));
  --bg-page: #1a1a1a;
  --msg-zi: 9999;
  --popover-bg: rgba(72, 80, 85, 0.8);
  --color-border: rgba(255, 255, 255, 0.7);
  --color-border-light: rgba(255, 255, 255, 0.2);
  --color-brand-bg: rgb(100, 75, 75);
  --color-brand-bg-light: rgba(100, 75, 75, 0.5);
  --color-brand-bg-hover: rgba(100, 75, 75, 0.8);
  --color-brand-bg-active: rgba(100, 75, 75, 0.6);
  --color-brand-fill: rgb(125, 125, 125);
}
